<h1>Week#show</h1>
<p>Find me in app/views/week/show.html.erb</p>

<%= @id %>
<%= Event.find(params[:id]).id %>
<hr>
<% if params[:id] == "1" %>
  1
  <%= form_with model: Week.new, url: week_index_path, method: :post do |f| %>
    <%= f.select :time1, [["〇","〇"],["×","×"],["△","△"]], include_blank: "記号を選んでー" %>
    <%= f.submit "送信" %>
  <% end %>
<hr>
<%= render "table", date: @date, week: @week %>
<hr>
<%= link_to "更新",request.referer %>
<%= Event.all.each do |t| %>
<% end %>

<% end %>

<% if params[:id] == "2" %>
  2
  <%= render "table", date: @date2 %>  
<% end %>

<% if params[:id] == "3" %>
  3
  <%= render "table", date: @date3 %>
<% end %>


