<h1>Event#index</h1>
<br>
<%= form_with model: Event.new, url: event_index_path, method: :post do |f| %>
  <%= f.date_field :start %>
  <%= f.date_field :finish %>
  <%= f.submit "送信"%>
<% end %>
<br>
<% @event.each do |event| %>
  <table>
    <tr>
      <td>
        <%= link_to week_path(event.id) do %>
          <%= event.start %>
          ～
          <%= event.finish %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
<hr>
<table>
  <tr>
    <th>月曜日</th>
    <th>火曜日</th>
    <th>水曜日</th>
    <th>木曜日</th>
    <th>金曜日</th>
    <th>土曜日</th>
    <th>日曜日</th>
  </tr>
  <tr>
    <td><%= (@date +(8-@date.wday)) %></td>
    <td><%= (@date +(9-@date.wday)) %></td>
    <td><%= (@date +(10-@date.wday)) %></td>
    <td><%= (@date +(11-@date.wday)) %></td>
    <td><%= (@date +(12-@date.wday)) %></td>
    <td><%= (@date +(13-@date.wday)) %></td>
    <td><%= (@date +(14-@date.wday)) %></td>
  </tr>
</table>
<hr>
<table>
  <tr>
    <th></th>
    <th>月曜日</th>
    <th>火曜日</th>
    <th>水曜日</th>
    <th>木曜日</th>
    <th>金曜日</th>
    <th>土曜日</th>
    <th>日曜日</th>
  </tr>
  <tr>
    <td>
      <%= link_to week_path(1) do %>
        <%= (@date + (8-@date.wday)).month %>月<%= (@date + (8-@date.wday)).day %>日～
        <%= (@date + (14-@date.wday)).month %>月<%= (@date + (14-@date.wday)).day %>日
      <% end %>
    </td>
    <td><%= (@date + (8-@date.wday)).month %>月<%= (@date + (8-@date.wday)).day %>日</td>
    <td><%= (@date + (9-@date.wday)).month %>月<%= (@date + (9-@date.wday)).day %>日</td>
    <td><%= (@date + (10-@date.wday)).month %>月<%= (@date + (10-@date.wday)).day %>日</td>
    <td><%= (@date + (11-@date.wday)).month %>月<%= (@date + (11-@date.wday)).day %>日</td>
    <td><%= (@date + (12-@date.wday)).month %>月<%= (@date + (12-@date.wday)).day %>日</td>
    <td><%= (@date + (13-@date.wday)).month %>月<%= (@date + (13-@date.wday)).day %>日</td>
    <td><%= (@date + (14-@date.wday)).month %>月<%= (@date + (14-@date.wday)).day %>日</td>
  </tr>
  <tr>
    <td>
      <%= link_to week_path(2) do %>
        <%= (@date2 + (8-@date2.wday)).month %>月<%= (@date2 + (8-@date2.wday)).day %>日～
        <%= (@date2 + (14-@date2.wday)).month %>月<%= (@date2 + (14-@date2.wday)).day %>日
      <% end %>
    </td>
    <td><%= (@date2 + (8-@date2.wday)).month %>月<%= (@date2 + (8-@date2.wday)).day %>日</td>
    <td><%= (@date2 + (9-@date2.wday)).month %>月<%= (@date2 + (9-@date2.wday)).day %>日</td>
    <td><%= (@date2 + (10-@date2.wday)).month %>月<%= (@date2 + (10-@date2.wday)).day %>日</td>
    <td><%= (@date2 + (11-@date2.wday)).month %>月<%= (@date2 + (11-@date2.wday)).day %>日</td>
    <td><%= (@date2 + (12-@date2.wday)).month %>月<%= (@date2 + (12-@date2.wday)).day %>日</td>
    <td><%= (@date2 + (13-@date2.wday)).month %>月<%= (@date2 + (13-@date2.wday)).day %>日</td>
    <td><%= (@date2 + (14-@date2.wday)).month %>月<%= (@date2 + (14-@date2.wday)).day %>日</td>
  </tr>
  <tr>
    <td>
      <%= link_to week_path(3) do %>
        <%= (@date3 + (8-@date3.wday)).month %>月<%= (@date3 + (8-@date3.wday)).day %>日～
        <%= (@date3 + (14-@date3.wday)).month %>月<%= (@date3 + (14-@date3.wday)).day %>日
      <% end %>
    </td>
    <td><%= (@date3 + (8-@date3.wday)).month %>月<%= (@date3 + (8-@date3.wday)).day %>日</td>
    <td><%= (@date3 + (9-@date3.wday)).month %>月<%= (@date3 + (9-@date3.wday)).day %>日</td>
    <td><%= (@date3 + (10-@date3.wday)).month %>月<%= (@date3 + (10-@date3.wday)).day %>日</td>
    <td><%= (@date3 + (11-@date3.wday)).month %>月<%= (@date3 + (11-@date3.wday)).day %>日</td>
    <td><%= (@date3 + (12-@date3.wday)).month %>月<%= (@date3 + (12-@date3.wday)).day %>日</td>
    <td><%= (@date3 + (13-@date3.wday)).month %>月<%= (@date3 + (13-@date3.wday)).day %>日</td>
    <td><%= (@date3 + (14-@date3.wday)).month %>月<%= (@date3 + (14-@date3.wday)).day %>日</td>
  </tr>
</table>

